@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  background-color: bisque;
  color:brown;
  font-size: 20px;
}
.video-background {
  position: relative;
  width: 100%;
}
#bgvid{
  width: 100%;
  color: azure;
}
.intro {position: absolute; 
  top: 50%;
  width: 100%;
}
.navbar-header{
  min-height: 70px;
  margin: 0;
}
img{
  width: 100%;
  min-height: 100px;
}
#navbarbg{
  background-color: coral;
  font-weight: bold;
  color:beige;
}
footer{
  padding: 30px;
  min-height: 70px;
  text-align: center;
  font-size: 1.5em;
  background-color: coral;
  color: beige;
}
li{
  list-style-type: square;
  text-align: justify;
}

@media screen and (max-width:767px){
  #bgvid{
    width: 100%;
    min-height: 100%;
  }
  .intro {
    position: absolute; 
    top: 40%;
    bottom: 10%;
    width: 100%;
    font-size: 0.5em;
    padding-bottom: 30px;
    line-height: 30px;
  }
  body{
    font-size: 2em;
  }
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/